
    <%- include('partials/header') %>
    <div class="head">
        <div class="navbar">
            <div class="nav-logo border">
                <div class="logo">

                </div>
            </div>
            
                <div class="nav-add border">
                    <p class="add1">Deliver to</p>
                    <div class="add-icon">
                        <i class="fa-solid fa-location-dqot"></i>
                        <p class="add2" >India</p>
                    </div>
                </div>
            <div class="nav-search">
                <select class="search-select">
                    <option>All</option>
                    <input class="search-input" placeholder="Search Amazon">
                    <div class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </select>
            </div>
            <div class="sign-in border">
                <p><span>Hello ,sign in</span></p>
                <p class="nav-sec">Account & Lists</p>
            </div>
            <div class="sign-in border">
                <p><span>Returns</span></p>
                <p class="nav-third">& Orders</p>
            </div>
            <div class="cart border">
                <i class="fa-solid fa-cart-shopping cart-icon"></i>
                Cart
            </div>
        </div>

        <div class="pannel">
            <div class="pannel-all border">
                <i class="fa-solid fa-bars menu-icon"></i>
                All
            </div>
            <div class="pannel-ops">
                <p class="border">Today's Deals</p>
                <p class="border">Customer Service</p>
                <p class="border">Register</p>
                <p class="border">Gift Cards</p>
                <p class="border">Sell</p>
            </div>
        </div>
    </div>
    <div class="hero">
        <div class="hero-message">
            <p>You are on amazon.com. You can also shop Amazon India for millions of products with fast local delivery .</p> <a>Click here to go to amazon.in</a>
        </div>
    </div>
   <div class="shop-section">
    <div class="box1 box">
        <div class="box-content">
            <h2>Health & Personal care</h2>
            <div class="box-img" style="background-image: url('../public/Images/box1_image.jpg');"></div>
            <p>see more</p>
        </div>
    </div>
    <div class="box2 box">
    <div class="box-content">
        <h2>Clothes</h2>
        <div class="box-img" style="background-image: url('../public/Images/box2_image.jpg');"></div>
        <p>see more</p>
    </div>
    </div>
    <div class="box3 box">
        <div class="box-content">
            <h2>Furniture</h2>
            <div class="box-img" style="background-image: url('../public/Images/box3_image.jpg');"></div>
            <p>see more</p>
        </div>
    </div>
    
    <div class="box4 box">
        <div class="box-content">
            <h2>Electronics</h2>
            <div class="box-img" style="background-image: url('../public/Images/box4_image.jpg');"></div>
            <p>see more</p>
        </div>
    </div>
    
    <div class="box5 box">
        <div class="box-content">
            <h2>Beauty picks</h2>
            <div class="box-img" style="background-image: url('../public/Images/box5_image.jpg');"></div>
            <p>see more</p>
        </div>
    </div>
    <div class="box6 box">
        <div class="box-content">
            <h2>Pet care</h2>
            <div class="box-img" style="background-image: url('../public/Images/box6_image.jpg');"></div>
            <p>see more</p>
        </div>
    </div>
    
    <div class="box7 box">
        <div class="box-content">
            <h2>New arrival Toys</h2>
            <div class="box-img" style="background-image: url('../public/Images/box7_image.jpg');"></div>
            <p>see more</p>
        </div>
    </div>
   
    <div class="box8 box">
        <div class="box-content">
            <h2>discover Fashion Trends</h2>
            <div class="box-img" style="background-image: url('../public/Images/box8_image.jpg');"></div>
            <p>see more</p>
        </div>
    </div>
   </div>
   <DIV class="footer">
    <div class="footpannel-one">
        <div class="sign">
            <p>See personalized recommendations</p>
            <div class="sign-box">
               <!-- <a href="login.ejs">Sign in</a> -->
               <a class="btn btn-lg" href="/login" role="button">Sign in</a>

            </div>
            <p>New customer? <a href="register">Start here.</a></p>
        </div>
    </div>
    <div class="back">
        <p>Back to top</p>
    </div>
    <div class="footpannel-two">
        <ul>
            <p>Get to Know</p>
            <a>Careers</a>
            <a>Blog</a>
            <a>About Amazon</a>
            <a>Investor Relations</a>
            <a>Amazon Devices</a>
            <a>Amazon Science</a>
        </ul>
        <ul>
            <p>Make Money with Us</p>
            <a>Sell products on Amazon</a>
            <a>Sell on Amazon Business</a>
            <a>Sell apps on Amazon</a>
            <a>Become an Affiliate</a>
            <a>Advertise Your Products</a>
            <a>Self-Publish with Us</a>
        </ul>
        <ul>
            <p>Amazon Payment Products</p>
            <a>Amazon Business Card</a>
            <a>Shop with Points</a>
            <a>Reload Your Balance</a>
            <a>Amazon Currency Converter</a>
            
        </ul>
        <ul>
            <p>Let us Help you</p>
            <a>Amazon and COVID-19</a>
            <a>Your Account</a>
            <a>Your Orders</a>
            <a>AShipping Rates & Policies</a>
            
        </ul>
    </div>
    <div class="footpannel-3">
        <div class="logo">

        </div>
    </div>
    <div class="footpannel-4">
        <P class="p1"><center>Conditions Of Use  Privacy Note  Yours ads privacy note</center></P>
        
        <p class="p1"><center>© 1996-2023,Amazon.com,Inc or affiliates</center></p>
    </div>
    <!-- <div class="foot">
       
    </div> -->
   </DIV>

   <%- include('partials/footer') %>